*{
   margin: 0;
   padding: 24px 0;
   font-size: 24px;
   justify-content: space-around;
}

header {
    background-color: #fa9fd4;
    color: plum;
    }

.imagem {
    width: 30%;
 }

.cabecalho {
    background-color: pink;
    color: pink
    display flex;

    justify-content: space-evenly;
 }

.item {
    color: pink;
    display: flexbox;
    margin: 0 19px;
 }

 